/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #c1c1c1;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 640px; /* Set container size */
    height: 640px;
    border: 2px solid #333;
}

.grid-square {
    border: 1px solid #ccc;
    background-color: #fff;
    transition: background-color 0.2s ease;
}


button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(231, 231, 231);
}